appdirs
arabic-reshaper
attrs
charset-normalizer
click
cycler
decorator
einops
entrypoints
fastjsonschema
filelock
fire
fonttools
gast
h5py
huggingface-hub
idna
imageio
imgaug
importlib-metadata
importlib-resources
joblib
jsonschema
jupyter_client
jupyter_core
kiwisolver
lmdb
Mako
Markdown
MarkupSafe
matplotlib
natsort
nbclient
nbformat
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
opencv-contrib-python
opencv-python
packaging
Pillow
pkgutil_resolve_name
platformdirs
PyArabic
pycuda
pyparsing
pyrsistent
python-dateutil
pytools
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
safetensors
scikit-image
scipy
shapely
six
termcolor
tifffile
timm
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
urllib3
validators
Wand
zipp
